.btn-style {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1rem;
  gap: 0.5rem;
  text-transform: capitalize;
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.5;
  border-radius: 0.5rem;
}
.btn-style.yellow {
  background-color: #f2c523;
  color: #1a1a1a;
  fill: #1a1a1a;
}
.btn-style.green {
  background-color: #12533f;
  color: #fbf8f2;
  fill: #fbf8f2;
}
.btn-style.white {
  background-color: #fbf8f2;
  color: #1a1a1a;
  fill: #1a1a1a;
}
.btn-style.red {
  background-color: #700005;
  color: #fbf8f2;
  fill: #fbf8f2;
}
.btn-style:hover .btn-box-ctr .btn-box {
  transform: rotateZ(180deg) scale(0.5);
}
.btn-style .btn-box-ctr {
  width: 1rem;
  height: 1rem;
  display: grid;
  place-items: center;
}
.btn-style .btn-box-ctr .btn-box {
  width: inherit;
  height: inherit;
  border-radius: 0.125rem;
  transition: transform 0.8s cubic-bezier(0.47, 1.64, 0.41, 0.8);
}

.width-wrap {
  margin: 0 auto;
  max-width: 1720px;
  padding: 2.5rem 1.5rem;
}
@media (min-width: 768px) {
  .width-wrap {
    padding: 5rem 4rem;
  }
}
@media (min-width: 1024px) {
  .width-wrap {
    padding: 7.5rem 6rem;
  }
}

.facilitiesheader {
  position: relative;
  background-color: black;
  height: 100vh;
  width: 100%;
  margin: 0 auto;
}
.facilitiesheader h1 {
  font-weight: bolder;
  padding-top: 430px;
  text-align: center;
  font-size: 8rem;
  color: #f2c523;
}

.schoolmap {
  position: relative;
  height: 100vh;
  background-color: white;
}
.schoolmap img {
  width: 1720px;
  margin: 0 auto;
}

.facilitybuttons {
  position: absolute;
  bottom: 200px;
  left: 600px;
}
.facilitybuttons button {
  font-size: 2rem;
  font-weight: bolder;
  text-decoration: none;
  color: #700005;
  background: #f2c523;
  padding: 5px 10px;
  border-radius: 7.5px;
  box-shadow: 0px 0px 15px black;
}
.facilitybuttons :hover {
  background: red;
  color: #f2c523;
  transition: 0.15s all;
}

.facilitydescriptions {
  position: fixed;
  margin: 0 auto;
  width: 1530px;
  height: 800px;
  top: 100px;
  left: 50%;
  transform: translate(-50%, 100%);
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  z-index: 999;
  pointer-events: none;
  scrollbar-width: none;
  -ms-overflow-style: none;
  border-radius: 15px;
  background-color: #700005;
  box-shadow: 10px 10px 20px black;
  transition: transform 0.5s ease, opacity 0.3s ease;
}

.facilitydescriptions::-webkit-scrollbar {
  display: none;
}

.facilitydescriptions.active {
  transform: translate(-50%, 0);
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.facilitydescriptions.closing {
  transform: translate(-50%, 100%);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.closebutton {
  position: sticky;
  top: 20px;
  right: 20px;
  width: 80px;
  height: 80px;
  margin-left: auto;
  display: block;
  background-color: #f2c523;
  font-size: 40px;
  font-weight: bolder;
  border-radius: 15px;
  z-index: 1000;
  box-shadow: 0px 0px 25px black;
  transition: 0.2s all;
}

.closebutton:hover {
  background: #f2c523;
  color: #700005;
  transform: rotateZ(180deg) scale(1.2);
  transition: 0.2s all;
}

.courtyarddesc {
  margin-inline: auto;
  margin-top: -40px;
  margin-bottom: 40px;
  padding-inline: 40px;
}
.courtyarddesc img {
  margin: 0 auto;
  width: 100%;
  max-width: 1440px;
  max-height: 600px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 25px;
}

.courtyardtext {
  margin: 0 auto;
  padding-inline: 40px;
}
.courtyardtext h1 {
  width: 100%;
  margin: 20px 0;
  font-size: 64px;
  color: white;
}
.courtyardtext p {
  max-width: 100%;
  font-size: 16px;
  color: white;
}/*# sourceMappingURL=facilities.css.map */